<!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><: title :></title>
        <link rel="stylesheet" href="<: css :>">
    </head>
    <body class="<: theme :>">
        <header>
            <nav>
                <ul class="style-list-container">
                    <li>
                        <a class="style-list-item" href="sign">Sign</a>
                    </li>
                    <li>
                        <a class="style-list-item" href="login">Login</a>
                    </li>
                    <li>
                        <a class="style-list-item" href="reset">Reset</a>
                    </li>
                </ul>
            </nav>
        </header>
        <: body :>
    </body>
</html>

